  <footer>
        <div class="container text-center">
            <p>&copy; 2024 Gestionnaire de Projets. Tous droits réservés.</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </footer>